@{
    ViewBag.Title = "Home Page";
}

<br />
    <h2>Dashboard</h2>
    <br />

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-area"></i>
        Produtividade Quizenal
    </div>
    <div class="card-body">
        <canvas id="myAreaChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Atualizado </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Produtividade Mensal
            </div>
            <div class="card-body">
                <canvas id="myBarChart" width="100%" height="50"></canvas>
            </div>
            <div class="card-footer small text-muted">Atualizado </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Quantidade por Produto
            </div>
            <div class="card-body">
                <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Atualizado</div>
        </div>
    </div>
</div>
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-bar-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
