@model Opti.Models.TiposGerais

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    @RenderPage("~/Views/Shared/CrudTemplate.cshtml")

    <script src="js/TiposGerais.js"></script>
</body>

