
@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Entrar</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/toastr.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header"><h3>Entrar</h3></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-label-group">                           
                            <input type="text" id="usuario" class="form-control" placeholder="Usuario" required="required">
                            <label>Usuario</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">                            
                            <input type="password" id="senha" class="form-control" placeholder="Senha" required="required">
                            <label>Senha</label>
                        </div>
                    </div>
                    <button type="button" onclick="entrar()" class="btn btn-primary p-2 w-100">Entrar</button>
                </form>
                <div class="text-center">
                    <button type="button" onclick="rediCad()" class="btn btn-link p-2 w-100">Cadastre-se Agora</button>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="js/Login.js"></script>
    <script src="js/rotas.js"></script>
    <script src="js/toastr.js"></script>
</body>
</html>
