@model Opti.Models.Maquinarios

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="onload()">
    @RenderPage("~/Views/Shared/CrudTemplate.cshtml")

    <script src="js/Maquinarios/Maquinarios.js"></script>
</body>



