@model Opti.Models.OrdemProducao

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    @RenderPage("~/Views/Shared/CrudTemplate.cshtml")

    <script src="js/OrdemProducao.js"></script>
</body>
