@model Opti.Models.Produtos

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    @RenderPage("~/Views/Shared/CrudTemplate.cshtml")

    <!-- Detalhar -->
    <div class="modal fade" id="detailProdutosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-row">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Estoque</th>
                                <th>LeadTime</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyProdutoDetail"></tbody>
                    </table>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sub Produtos</h5>
                        <button type="button" class="btn btn-primary d-md-inline-block form-inline mr-0 mr-md-2 ml-3" data-toggle="modal" data-target="#addSubProdutoModal"><div class="fas fa-fw fa-plus"></div></button>
                    </div>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Produto ID</th>
                                <th>Nome</th>
                                <th>Descricao</th>
                                <th>Quantidade Necessária</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody id="tBodySubProdutoDetail"></tbody>
                    </table>


                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tipos de Maquinário</h5>
                        <button type="button" class="btn btn-primary d-md-inline-block form-inline mr-0 mr-md-2 ml-3" data-toggle="modal" data-target="#addMaqProdutoModal"><div class="fas fa-fw fa-plus"></div></button>
                    </div>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tipo de Maquinário</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyMaqProdutoDetail"></tbody>
                    </table>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Adicionar SUB Produto -->
    <div class="modal fade" id="addSubProdutoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Sub Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-row">
                    <input type="text" class="form-control col-md-2 mr-md-3 ml-3" placeholder="Produto ID" id="Add_ProdutoID" />
                    <input type="text" class="form-control col-md-2 mr-md-3 ml-3" placeholder="Quantidade" id="Add_Quantidade" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="return AdicionarSubProduto();" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Editar SUB Produto -->
    <div class="modal fade" id="editSubProdutoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Sub Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-row">
                    <input type="text" class="form-control col-md-2 mr-md-3 ml-3" placeholder="Produto ID" id="Edit_SubProdutoID" />
                    <input type="text" class="form-control col-md-2 mr-md-3 ml-3" placeholder="Quantidade" id="Edit_SubQuantidade" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="return AlterarSubProduto();" class="btn btn-primary">Alterar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Adicionar MAQ Produto -->
    <div class="modal fade" id="addMaqProdutoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Tipos de Maquinário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-row">
                    <input type="text" class="form-control col-md-2 mr-md-3 ml-3" placeholder="Tipo" id="Add_MaqProdutoID" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="return AdicionarMaqProduto();" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/Produtos.js"></script>
</body>